*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    width: 70%;
    background-color: #ADC2A9;
    min-height: 100vh;
    box-shadow: 20px 10px 50px rgba(157, 235, 216, 0.489);
    padding-top: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
}  
body{
    background-color: #D3E4CD;
}
.title{
    font-size: 4rem;
    margin-bottom: 50px;
     color: #517913;
}
#inputCity{
    outline: none;
    border: none;
    border-bottom: 3px solid black;
    background-color: transparent;
    font-size: 3rem;
    width: 35%;
    text-align: center;
}
.info{
    font-size: 2.5rem;
    margin-bottom: 30px;
}
#icon{
    width: 250px;
}